@import "tailwindcss";

:root {

}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.text-theme{
  color: #52010b;
}

.bg-theme{
  background-color: #52010b;
}

.text-offWhite{
  color: #F8F0E3;
}

@media (prefers-color-scheme: dark) {

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

